version: '3.9'

services:

  postgres:
    image: postgres:16
    container_name: pulseq_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pulseq_db
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: pulseq_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
